[submodule "app/guide/20230202000000-c123456"]
	path = app/guide/20230202000000-c123456
	url = https://github.com/Hi-Windom/user-guide-zh_CN.git
[submodule "app/out"]
	path = app/out
	url = https://github.com/Hi-Windom/Sillot-Bridge.git
