[submodule "app/guide/20210808180117-czj9bvb"]
	path = app/guide/20210808180117-czj9bvb
	url = git@github.com:siyuan-note/user-guide-zh_CN.git
[submodule "app/guide/20210808180117-6v0mkxr"]
	path = app/guide/20210808180117-6v0mkxr
	url = git@github.com:siyuan-note/user-guide-en_US.git
[submodule "app/guide/20230202000000-c123456"]
	path = app/guide/20230202000000-c123456
	url = https://github.com/Hi-Windom/user-guide-zh_CN.git
[submodule "app/out"]
	path = app/out
	url = https://github.com/Hi-Windom/Sillot-Bridge.git
