# https://pnpm.nodejs.cn/cli/run/#shell-emulator
# 根路径设置 shell-emulator=true 会导致部分命令失败，具体暂不不深究
shell-emulator=false
virtual-store-dir-max-length=58
# registry=http://mirrors.cloud.tencent.com/npm/
# 已使用 nrm 管理 npm 源  `nrm test` && `nrm use taobao` （换源后需要删除 node_modules 和 lockfile 重新安装）
# 在 Github Action 中通过 `pnpm config set registry https://registry.npmjs.org/ --location project` 改写从而避免镜像问题
# link-workspace-packages 是链接本地包的（比如sofill），并不是共用工作区依赖
link-workspace-packages=true
save-workspace-protocol=rolling
