.b3-typography .code-block,
.protyle-wysiwyg .code-block:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.protyle-wysiwyg__embed:hover,
.protyle-wysiwyg [data-node-id].sb:hover {
  box-shadow: rgb(111 111 111 / 7%) 0px 0px 1px 2px inset;
  border-radius: 6px;
  opacity: 1;
  transition-duration: .31s;
}

/* 数学公式块 */
.protyle-wysiwyg [data-node-id][fold="0"][data-subtype="math"]:not(.li):not([data-type=NodeHeading]):hover {
  box-shadow: rgba(6, 24, 44, 0.31) 0px 0px 1px 2px inset;
  transition-duration: .31s;
}

.b3-typography img:hover, .protyle-wysiwyg img:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: var(--SCC-Variables-IMG-bg-color_hover);
}

/* 表格元素 */
.b3-typography table tr th:hover, .protyle-wysiwyg table tr th:hover, .b3-typography table tr td:hover, .protyle-wysiwyg table tr td:hover {
  box-shadow: 0 0 0 1px var(--b3-theme-secondary) inset !important;
}
