:root {
    /* 主色 */
    --b3-theme-primary: var(--SCC-CNTC-松花色);
    --b3-theme-primary-light: #bce672c5;
    --b3-theme-primary-lighter: #bce672a5;
    --b3-theme-primary-lightest: #bce67235;
    --b3-theme-secondary: var(--SCC-Green-186-light);
    --b3-theme-background: #0d0d0d;
    --b3-theme-background-light: #0d0d0dc5;
    --b3-theme-background-blur: #0d0d0de8;
    --b3-theme-surface: #0d0d0dc5;
    --b3-theme-surface-light: #0d0d0da5;
    --b3-theme-error: #d23f31;

    /* 文字颜色 */
    --b3-theme-on-primary: var(--SCC-SGTC-29C);
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: var(--SCC-White-light);
    --b3-theme-on-surface: var(--SCC-White-light);
    /* 此色影响顶部栏图标颜色和不少界面区域中的文字颜色 */
    --b3-theme-on-surface-light: var(--SCC-White-lighter);
    --b3-theme-on-error: #fff;

    /* 顶部工具栏 */
    --b3-toolbar-background: var(--SCC-primary-lightest);
    --b3-toolbar-blur-background: #0d0d0dee;
    --b3-toolbar-color: var(--SCC-White-light);

    /* 自定义颜色 */
    --b3-font-color1: var(--SCC-SGTC-14A);
    --b3-font-color2: var(--SCC-CNTC-松花色);
    --b3-font-color3: var(--SCC-SGTC-31D);
    --b3-font-color4: var(--SCC-CNTC-竹青);
    --b3-font-color5: var(--SCC-SGTC-31A);
    --b3-font-color6: var(--SCC-CNTC-中度灰);
    --b3-font-color7: var(--SCC-Pink-WPS);
    --b3-font-color8: var(--SCC-CNTC-翡翠色);
    /* --b3-font-color9: var(--SCC-Blue-WPS);
    --b3-font-color10: var(--SCC-CNTC-樱草色); */
    --b3-font-background1: #bc002f72;
    --b3-font-background2: #df33cc52;
    --b3-font-background3: #9a58fd34;
    --b3-font-background4: #58a8ff51;
    --b3-font-background5: #c1ac7c42;
    --b3-font-background6: #aaaaaa34;
    --b3-font-background7: #9a747975;
    --b3-font-background8: #33886651;
    --b3-font-background9: #11991158;
    --b3-font-background10: #00dece22;

    /* 线条 */
    --b3-border-color: unset;

    /* 滚动条 */
    --b3-scroll-color: var(--SCC-Purple-186-lighter);

    /* 列表 */
    --b3-list-hover: var(--SCC-Purple-186-lightest);

    /* 菜单 */
    --b3-menu-background: #131313c5;

    /* 提示 */
    --b3-tooltips-color: #093904c5;

    /* 遮罩 */
    --b3-mask-background: #030002dc;
}

/* --- */
:root {
    --SCC-baseComponent-Input-box-shadow-focus: none;
    --SCC-baseComponent-search__header-input-box-shadow: rgb(128 81 231 / 31%) 3px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
    --SCC-baseComponent-search__header-input-box-shadow-focus: rgb(128 81 231 / 31%) 3px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
    --SCC-Component-selector-border: 1px solid var(--SCC-Purple-186-lighter);
    --SCC-Component-button-text-color: var(--SCC-Gray-186);
    --SCC-Component-button-bg-color: var(--b3-theme-primary-lightest);
    --SCC-Component-textarea-box-shadow: rgba(220, 220, 220, 0.1) 2px 2px 0px 111px inset, rgba(220, 220, 220, 0.1) 0px -2px 0px 0px inset;
    --SCC-Component-TabBar-item-hover-bg-color: #505850a5;
    --SCC-Component-HR-LG1: linear-gradient(to right, transparent, #58885858, transparent);
    --SCC-Component-Inline-virtual-block-ref-border-bottom: 1px dotted #587163;
    --SCC-Component-Inline-virtual-block-ref-bg-color-hover: #60e88813;
    --SCC-Component-EmbedBlock-bg-color: var(--SCC-Cyan-186-lighter);
    --SCC-Component-EmbedBlock-box-shadow: inset 9px 9px 29px #2d3f3e31, inset -9px -9px 29px #7c887c31;
    --SCC-Component-Table-tr-bg-color-1: var(--SCC-SGTC-1A);
    --SCC-Component-Table-tr-bg-color-2: var(--SCC-SGTC-2A);
    --SCC-Component-CodeBlock-bg-color: #afbbbb35;
    --SCC-Component-CodeBlock-bg-color-hover: #55555555;
    --SCC-Component-Message-button-ok-border: 3px ridge var(--SCC-Cyan-186-lighter) !important;
    --SCC-Component-Message-button-ok-bg-color: var(--SCC-CNTC-黛绿);
    --SCC-Component-meno-bg-color: var(--SCC-CNTC-黛绿);
    --SCC-Component-meno-border-bottom: 2px solid var(--b3-card-info-color);
    --SCC-Component-Counter-bg-color: var(--SCC-CNTC-黛绿);
    --SCC-Component-Counter-border: 1.3px solid var(--SCC-CNTC-黛绿);
    --SCC-Component-TabBar-item__close-svg__hover-color: var(--SCC-CNTC-石绿);
    --SCC-sCt-Hfbs1-color1: rgba(30, 35, 30, 0.03);
    --SCC-sCt-Hfbs1-color2: rgba(30, 34, 30, 0.13);
    --SCC-sCt-Hfbs1-color3: rgba(30, 33, 30, 0.25);
    --SCC-sCt-Hfbs1-color4: rgba(30, 32, 30, 0.39);
    --SCC-sCt-Hfbs1-color5: rgba(30, 31, 30, 0.48);
    --SCC-Component-Heading-folded-box-shadow-h5: var(--SCC-sCt-Hfbs1-color1) 7px 4px;
    --SCC-Component-Heading-folded-box-shadow-h4: var(--SCC-sCt-Hfbs1-color2) 7px 4px, var(--SCC-sCt-Hfbs1-color1) 14px 8px;
    --SCC-Component-Heading-folded-box-shadow-h3: var(--SCC-sCt-Hfbs1-color3) 7px 4px, var(--SCC-sCt-Hfbs1-color2) 14px 8px, var(--SCC-sCt-Hfbs1-color1) 21px 12px;
    --SCC-Component-Heading-folded-box-shadow-h2: var(--SCC-sCt-Hfbs1-color4) 7px 4px, var(--SCC-sCt-Hfbs1-color3) 14px 8px, var(--SCC-sCt-Hfbs1-color2) 21px 12px, var(--SCC-sCt-Hfbs1-color1) 28px 16px;
    --SCC-Component-Heading-folded-box-shadow-h1: var(--SCC-sCt-Hfbs1-color5) 7px 4px, var(--SCC-sCt-Hfbs1-color4) 14px 8px, var(--SCC-sCt-Hfbs1-color3) 21px 12px, var(--SCC-sCt-Hfbs1-color2) 28px 16px, var(--SCC-sCt-Hfbs1-color1) 35px 20px;
    --SCC-Component__Phone-Heading-folded-box-shadow-h5: var(--SCC-sCt-Hfbs1-color1) 2px 4px;
    --SCC-Component__Phone-Heading-folded-box-shadow-h4: var(--SCC-sCt-Hfbs1-color2) 2px 4px, var(--SCC-sCt-Hfbs1-color1) 4px 8px;
    --SCC-Component__Phone-Heading-folded-box-shadow-h3: var(--SCC-sCt-Hfbs1-color3) 2px 4px, var(--SCC-sCt-Hfbs1-color2) 4px 8px, var(--SCC-sCt-Hfbs1-color1) 6px 12px;
    --SCC-Component__Phone-Heading-folded-box-shadow-h2: var(--SCC-sCt-Hfbs1-color4) 2px 4px, var(--SCC-sCt-Hfbs1-color3) 4px 8px, var(--SCC-sCt-Hfbs1-color2) 6px 12px, var(--SCC-sCt-Hfbs1-color1) 8px 16px;
    --SCC-Component__Phone-Heading-folded-box-shadow-h1: var(--SCC-sCt-Hfbs1-color5) 2px 4px, var(--SCC-sCt-Hfbs1-color4) 4px 8px, var(--SCC-sCt-Hfbs1-color3) 6px 12px, var(--SCC-sCt-Hfbs1-color2) 8px 16px, var(--SCC-sCt-Hfbs1-color1) 10px 20px;
    --SCC-Component-HintMenu-bg-color: #00353913;
    --SCC-Component-HintMenu-border-bottom: 1.86px ridge #815476;
    --SCC-Component-HintMenu-column-rule: 1px solid var(--SCC-Cyan-186-lighter);
    --SCC-Component-Inline-kbd-color: var(--SCC-Black-186);
    --SCC-Component-Inline-kbd-bg-color: var(--SCC-White-light);
    --SCC-Component-Inline-kbd-box-shadow: rgba(254, 239, 234, 0.4) 0px 3px, rgba(0, 6, 85, 0.3) 0px 5px;
    --SCC-Component-Inline-kbd-border-radius: 6px;
}