:root {
  /* 主色 */
  --b3-theme-primary: var(--SCC-Pink-Firole);
  --b3-theme-primary-light: var(--SCC-Pink-Firole-light);
  --b3-theme-primary-lighter: var(--SCC-Pink-Firole-lighter);
  --b3-theme-primary-lightest: var(--SCC-Pink-Firole-lightest);
  --b3-theme-secondary: var(--SCC-CNTC-粉红);
  --b3-theme-background: var(--SCC-Pink-WPS_Vivian);
  --b3-theme-background-light: var(--SCC-Pink-WPS_Vivian-light);
  --b3-theme-background-blur: #f8edefe8;
  --b3-theme-surface: var(--SCC-Pink-WPS_Vivian);
  --b3-theme-surface-light: var(--SCC-Pink-WPS_Vivian-light);
  --b3-theme-error: #d23f31;

  /* 文字颜色 */
  --b3-theme-on-primary: var(--SCC-SGTC-3B);
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: var(--SCC-Black-186);
  --b3-theme-on-surface: var(--SCColor);
  /* 此色影响顶部栏图标颜色和不少界面区域中的文字颜色 */
  --b3-theme-on-surface-light: var(--SCC-primary-light);
  --b3-theme-on-error: #fff;

  /* 顶部工具栏 */
  --b3-toolbar-background: var(--SCC-primary-lightest);
  --b3-toolbar-blur-background: var(--SCC-Pink-WPS_Vivian-light);
  --b3-toolbar-color: var(--SCC-Red-WPS-light);

  /* 自定义颜色 */
  --b3-font-color1: var(--SCC-SGTC-13B);
  --b3-font-color2: var(--SCC-SGTC-19D);
  --b3-font-color3: var(--SCC-SGTC-12A);
  --b3-font-color4: var(--SCC-CNTC-粉红);
  --b3-font-color5: var(--SCC-SGTC-21C);
  --b3-font-color6: var(--SCC-SGTC-4D);
  --b3-font-color7: var(--SCC-CNTC-嫣红);
  --b3-font-color8: var(--SCC-CNTC-山鳩);
  /* --b3-font-color9: var(--SCC-CNTC-殷红);
  --b3-font-color10: var(--SCC-CNTC-宝蓝); */
  --b3-font-background1: #bc002f13;
  --b3-font-background2: #df33cc26;
  --b3-font-background3: #9a58fd32;
  --b3-font-background4: #58a8ff37;
  --b3-font-background5: #c1ac7c66;
  --b3-font-background6: #aaaaaa80;
  --b3-font-background7: #9a747955;
  --b3-font-background8: #33886633;
  --b3-font-background9: #11991137;
  --b3-font-background10: #00dece55;

  /* 线条 */
  --b3-border-color: var(--SCC-Pink-WPS_Vivian-light);

  /* 滚动条 */
  --b3-scroll-color: var(--SCC-Pink-WPS-lighter);

  /* 列表 */
  --b3-list-hover: var(--SCC-Pink-WPS-lightest);

  /* 菜单 */
  --b3-menu-background: var(--SCC-Pink-WPS_Vivian);

  /* 提示 */
  --b3-tooltips-color: #6F4665c5;

  /* 遮罩 */
  --b3-mask-background: #050002a3;
}

/* --- */
:root {
  --SCC-Component-selector-border: 1px solid var(--SCC-Pink-Firole-light);
  --SCC-Component-button-text-color: var(--SCC-Pink-Firole);
  --SCC-Component-button-bg-color: var(--b3-theme-primary-lightest);
  --SCC-Component-textarea-box-shadow: rgba(128, 81, 31, 0.1) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  --SCC-Component-TabBar-item-hover-bg-color: #fed5d0a5;
  --SCC-Component-HR-LG1: linear-gradient(to right, transparent, #e5585958, transparent);
  --SCC-Component-Inline-virtual-block-ref-border-bottom: 1px dotted var(--SCC-Red-WPS-lighter);
  --SCC-Component-Inline-virtual-block-ref-bg-color-hover: #ffffffc5;
  --SCC-Component-EmbedBlock-bg-color: #99338808;
  --SCC-Component-EmbedBlock-box-shadow: inset 9px 9px 29px #58383813, inset -9px -9px 29px #faf3f613;
  --SCC-Component-Table-tr-bg-color-1: var(--SCC-SGTC-15A);
  --SCC-Component-Table-tr-bg-color-2: var(--SCC-SGTC-15C);
  --SCC-Component-CodeBlock-bg-color: #fff2f3a5;
  --SCC-Component-CodeBlock-bg-color-hover: #fff;
  --SCC-Component-Message-button-ok-border: 3px ridge var(--SCC-Cyan-186-lighter) !important;
  --SCC-Component-Message-button-ok-bg-color: var(--SCC-CNTC-嫣红);
  --SCC-Component-meno-bg-color: var(--SCC-CNTC-藕粉);
  --SCC-Component-meno-border-bottom: 2px solid var(--b3-card-info-color);
  --SCC-Component-Counter-bg-color: var(--SCC-CNTC-嫣红);
  --SCC-Component-Counter-border: 1.3px solid var(--SCC-CNTC-藕粉);
  --SCC-Component-TabBar-item__close-svg__hover-color: var(--SCC-CNTC-茜色);
  --SCC-sCt-Hfbs1-color1: rgba(158, 97, 100, 0.11);
  --SCC-sCt-Hfbs1-color2: rgba(158, 97, 100, 0.17);
  --SCC-sCt-Hfbs1-color3: rgba(158, 97, 100, 0.23);
  --SCC-sCt-Hfbs1-color4: rgba(158, 97, 100, 0.29);
  --SCC-sCt-Hfbs1-color5: rgba(158, 97, 100, 0.35);
  --SCC-Component-Heading-folded-box-shadow-h5: var(--SCC-sCt-Hfbs1-color1) 7px 4px;
  --SCC-Component-Heading-folded-box-shadow-h4: var(--SCC-sCt-Hfbs1-color2) 7px 4px, var(--SCC-sCt-Hfbs1-color1) 14px 8px;
  --SCC-Component-Heading-folded-box-shadow-h3: var(--SCC-sCt-Hfbs1-color3) 7px 4px, var(--SCC-sCt-Hfbs1-color2) 14px 8px, var(--SCC-sCt-Hfbs1-color1) 21px 12px;
  --SCC-Component-Heading-folded-box-shadow-h2: var(--SCC-sCt-Hfbs1-color4) 7px 4px, var(--SCC-sCt-Hfbs1-color3) 14px 8px, var(--SCC-sCt-Hfbs1-color2) 21px 12px, var(--SCC-sCt-Hfbs1-color1) 28px 16px;
  --SCC-Component-Heading-folded-box-shadow-h1: var(--SCC-sCt-Hfbs1-color5) 7px 4px, var(--SCC-sCt-Hfbs1-color4) 14px 8px, var(--SCC-sCt-Hfbs1-color3) 21px 12px, var(--SCC-sCt-Hfbs1-color2) 28px 16px, var(--SCC-sCt-Hfbs1-color1) 35px 20px;
  --SCC-Component__Phone-Heading-folded-box-shadow-h5: var(--SCC-sCt-Hfbs1-color1) 2px 4px;
  --SCC-Component__Phone-Heading-folded-box-shadow-h4: var(--SCC-sCt-Hfbs1-color2) 2px 4px, var(--SCC-sCt-Hfbs1-color1) 4px 8px;
  --SCC-Component__Phone-Heading-folded-box-shadow-h3: var(--SCC-sCt-Hfbs1-color3) 2px 4px, var(--SCC-sCt-Hfbs1-color2) 4px 8px, var(--SCC-sCt-Hfbs1-color1) 6px 12px;
  --SCC-Component__Phone-Heading-folded-box-shadow-h2: var(--SCC-sCt-Hfbs1-color4) 2px 4px, var(--SCC-sCt-Hfbs1-color3) 4px 8px, var(--SCC-sCt-Hfbs1-color2) 6px 12px, var(--SCC-sCt-Hfbs1-color1) 8px 16px;
  --SCC-Component__Phone-Heading-folded-box-shadow-h1: var(--SCC-sCt-Hfbs1-color5) 2px 4px, var(--SCC-sCt-Hfbs1-color4) 4px 8px, var(--SCC-sCt-Hfbs1-color3) 6px 12px, var(--SCC-sCt-Hfbs1-color2) 8px 16px, var(--SCC-sCt-Hfbs1-color1) 10px 20px;
  --SCC-Component-HintMenu-bg-color: #cc959ccc;
  --SCC-Component-HintMenu-border-bottom: 1.86px ridge rgba(244, 244, 0, 0.31);
  --SCC-Component-HintMenu-column-rule: 1px solid var(--SCC-Cyan-186-lighter);
  --SCC-Component-Inline-kbd-color: var(--SCC-Black-186);
  --SCC-Component-Inline-kbd-bg-color: var(--SCC-SGTC-19B);
  --SCC-Component-Inline-kbd-box-shadow: rgba(234, 199, 214, 0.4) 0px 1px, rgba(130, 96, 105, 0.25) -1px 2px;
  --SCC-Component-Inline-kbd-border-radius: 6px;
}