shell-emulator=true
virtual-store-dir-max-length=80
# registry=http://mirrors.cloud.tencent.com/npm/
# 已使用 nrm 管理 npm 源  `nrm test` && `nrm use taobao` （换源后需要删除 node_modules 和 lockfile 重新安装）
# 在 Github Action 中通过 `pnpm config set registry https://registry.npmjs.org/ --location project` 改写从而避免镜像问题
