:root {
  /* 绛色 */
  --SCColor: #484550;
  --SCC-primary: #484550;
  --SCC-primary-light: #484550c5;
  --SCC-primary-lighter: #484550a5;
  --SCC-primary-lightest: #48455035;
  /* 绛白 */
  --SCC-White: #feefea;
  --SCC-White-light: #feefeac5;
  --SCC-White-lighter: #feefeaa5;
  --SCC-White-lightest: #feefea35;
  /* 绛灰 */
  --SCC-Gray: #12345678;
  --SCC-Gray-light: #12345678;
  --SCC-Gray-lighter: #12345678;
  --SCC-Gray-lightest: #12345678;
  /* 绛金 */
  --SCC-Gold: #fedcba;
  --SCC-Gold-light: #fedcbac5;
  --SCC-Gold-lighter: #fedcbaa5;
  --SCC-Gold-lightest: #fedcba35;
  /* 海文东蓝 */
  --SCC-Blue-Windom: #000655;
  --SCC-Blue-Windom-light: rgba(0, 6, 85, 0.58);
  --SCC-Blue-Windom-lighter: rgba(0, 6, 85, 0.31);
  --SCC-Blue-Windom-lightest: rgba(0, 6, 85, 0.13);
  /* 海文东黄 */
  --SCC-Orange-Windom: #ffbb00;
  --SCC-Orange-Windom-light: rgba(255, 187, 0, 0.58);
  --SCC-Orange-Windom-lighter: rgba(255, 187, 0, 0.31);
  --SCC-Orange-Windom-lightest: rgba(255, 187, 0, 0.13);
  /* 海文东2号蓝 */
  --SCC-Blue-Windom_2: #3a83ba;
  --SCC-Blue-Windom_2-light: rgba(58, 131, 186, 0.58);
  --SCC-Blue-Windom_2-lighter: rgba(58, 131, 186, 0.31);
  --SCC-Blue-Windom_2-lightest: rgba(58, 131, 186, 0.13);
  /* 巴枀紫 */
  --SCC-Purple-Soledar: #912997;
  --SCC-Purple-Soledar-light: rgba(145, 41, 151, 0.58);
  --SCC-Purple-Soledar-lighter: rgba(145, 41, 151, 0.31);
  --SCC-Purple-Soledar-lightest: rgba(145, 41, 151, 0.13);
  /* 巴枀灰 */
  --SCC-Gray-Soledar: #585858;
  --SCC-Gray-Soledar-light: rgba(88, 88, 88, 0.58);
  /* 火萝粉 */
  --SCC-Pink-Firole: #ff3399;
  --SCC-Pink-Firole-light: rgba(255, 51, 153, 0.58);
  --SCC-Pink-Firole-lighter: rgba(255, 51, 153, 0.31);
  --SCC-Pink-Firole-lightest: rgba(255, 51, 153, 0.13);
  /*  火萝红 */
  --SCC-Red-Firole: #ff0066;
  --SCC-Red-Firole-light: rgba(255, 0, 102, 0.58);
  --SCC-Red-Firole-lighter: rgba(255, 0, 102, 0.31);
  --SCC-Red-Firole-lightest: rgba(255, 0, 102, 0.13);
  /* 文中红 */
  --SCC-Red-WZ: #fb263a;
  --SCC-Red-WZ-light: #fb263ac5;
  --SCC-Red-WZ-lighter: #fb263aa5;
  --SCC-Red-WZ-lightest: #fb263a35;
  /* 文中绿 */
  --SCC-Green-WZ: #1eb111;
  --SCC-Green-WZ-light: #1eb111c5;
  --SCC-Green-WZ-lighter: #1eb111a5;
  --SCC-Green-WZ-lightest: #1eb11135;
  /* 一八六战略紫 */
  --SCC-Purple-186: #8051e7;
  --SCC-Purple-186-light: rgba(128, 81, 231, 0.58);
  --SCC-Purple-186-lighter: rgba(128, 81, 231, 0.31);
  --SCC-Purple-186-lightest: rgba(128, 81, 231, 0.13);
  /* 一八六战略青 */
  --SCC-Cyan-186: #bffae2;
  --SCC-Cyan-186-light: rgba(191, 250, 226, 0.58);
  --SCC-Cyan-186-lighter: rgba(191, 250, 226, 0.31);
  --SCC-Cyan-186-lightest: rgba(191, 250, 226, 0.13);
  /* 一八六战略绿 */
  --SCC-Green-186: #80fb0a;
  --SCC-Green-186-light: rgba(128, 251, 10, 0.58);
  --SCC-Green-186-lighter: rgba(128, 251, 10, 0.31);
  --SCC-Green-186-lightest: rgba(128, 251, 10, 0.13);
  /* 一八六战略棕 */
  --SCC-Brown-186: #320b11;
  --SCC-Brown-186-light: rgba(50, 11, 17, 0.58);
  --SCC-Brown-186-lighter: rgba(50, 11, 17, 0.31);
  --SCC-Brown-186-lightest: rgba(50, 11, 17, 0.13);
  /* 一八六战略黑 */
  --SCC-Black-186: #0d0d0d;
  --SCC-Black-186-light: rgba(13, 13, 13, 0.58);
  --SCC-Black-186-lighter: rgba(13, 13, 13, 0.31);
  --SCC-Black-186-lightest: rgba(13, 13, 13, 0.13);
  /* 一八六战略灰 */
  --SCC-Gray-186: #bfa7b1;
  --SCC-Gray-186-light: rgba(191, 167, 177, 0.58);
  --SCC-Gray-186-lighter: rgba(191, 167, 177, 0.31);
  --SCC-Gray-186-lightest: rgba(191, 167, 177, 0.13);
  /* 一八六战略蓝 */
  --SCC-Blue-186: #494bc3;
  --SCC-Blue-186-light: rgba(73, 75, 195, 0.58);
  --SCC-Blue-186-lighter: rgba(73, 75, 195, 0.31);
  --SCC-Blue-186-lightest: rgba(73, 75, 195, 0.13);
  /* 绛亽束彖园络管理系统内部代号：[ Hellise Potter ]（赫礼斯叵特） */
  --SCC-Blue-HellisePotter: #1f1fba;
  --SCC-Blue-HellisePotter-light: rgba(31, 31, 186, 0.58);
  --SCC-Yellow-HellisePotter: #f4f400;
  --SCC-Yellow-HellisePotter-light: rgba(244, 244, 0, 0.8);
  --SCC-Gray-HellisePotter: #dee3f4;
  --SCC-Gray-HellisePotter-light: rgba(222, 227, 244, 0.8);
  /* 云上高组 */
  --SCC-Red-WPS: #990033;
  --SCC-Red-WPS-light: #990033c5;
  --SCC-Red-WPS-lighter: #990033a5;
  --SCC-Red-WPS-lightest: #99003335;
  --SCC-White-WPS: #fafafa;
  --SCC-White-WPS-light: #fafafac5;
  --SCC-White-WPS-lighter: #fafafaa5;
  --SCC-White-WPS-lightest: #fafafa35;
  --SCC-Pink-WPS: #ef8fb0;
  --SCC-Pink-WPS-light: #ef8fb0c5;
  --SCC-Pink-WPS-lighter: #ef8fb0a5;
  --SCC-Pink-WPS-lightest: #ef8fb035;
  --SCC-Pink-WPS_Vivian: #f8edef;
  --SCC-Pink-WPS_Vivian-light: #f8edefc5;
  --SCC-Pink-WPS_Vivian-lighter: #f8edefa5;
  --SCC-Pink-WPS_Vivian-lightest: #f8edef35;
  --SCC-Blue-WPS: #3c77eb;
  --SCC-Blue-WPS-light: #3c77ebc5;
  --SCC-Blue-WPS-lighter: #3c77eba5;
  --SCC-Blue-WPS-lightest: #3c77eb35;
  --SCC-Green-WPS: #537953;
  --SCC-Green-WPS-light: #537953c5;
  --SCC-Green-WPS-lighter: #537953a5;
  --SCC-Green-WPS-lightest: #53795335;
  --SCC-Green-WPS_Vivian: #e4f1e4;
  --SCC-Green-WPS_Vivian-light: #e4f1e4c5;
  --SCC-Green-WPS_Vivian-lighter: #e4f1e4a5;
  --SCC-Green-WPS_Vivian-lightest: #e4f1e435;
  --SCC-Green-WPS_Vivid: #ecf4ec;
  --SCC-Green-WPS_Vivid-light: #ecf4ecc5;
  --SCC-Green-WPS_Vivid-lighter: #ecf4eca5;
  --SCC-Green-WPS_Vivid-lightest: #ecf4ec35;
}

:root {
  /* 绛亽遴选中华传统色彩序列 CNTC */
  --SCC-CNTC-铅白: #f0f0f4;
  --SCC-CNTC-雪白: #f0fcff;
  --SCC-CNTC-莹白: #e3f9fd;
  --SCC-CNTC-象牙白: #fffbf0;
  --SCC-CNTC-缟白: #f2ecde;
  --SCC-CNTC-茶白: #f3f9f1;
  --SCC-CNTC-青白: #c0ebd7;
  --SCC-CNTC-蟹壳青: #bbcdc5;
  --SCC-CNTC-花白: #c2ccd0;
  --SCC-CNTC-中度灰: #808080;
  --SCC-CNTC-苍色: #75878a;
  --SCC-CNTC-玄青: #3d3b4f;
  --SCC-CNTC-夜蓝: #161823;
  --SCC-CNTC-樱草色: #eaff56;
  --SCC-CNTC-鹅黄: #fff143;
  --SCC-CNTC-鸭黄: #faff72;
  --SCC-CNTC-杏黄: #ffa631;
  --SCC-CNTC-橘红: #ff7500;
  --SCC-CNTC-姜黄: #ffc773;
  --SCC-CNTC-赤金: #f2be45;
  --SCC-CNTC-金色: #eacd76;
  --SCC-CNTC-牙色: #eedeb0;
  --SCC-CNTC-枯黄: #d3b17d;
  --SCC-CNTC-赤茶: #b35c44;
  --SCC-CNTC-驼色: #a88462;
  --SCC-CNTC-秋色: #896c39;
  --SCC-CNTC-松花色: #bce672;
  --SCC-CNTC-豆绿: #9ed048;
  --SCC-CNTC-豆青: #96ce54;
  --SCC-CNTC-石绿: #16a951;
  --SCC-CNTC-松柏绿: #21a675;
  --SCC-CNTC-翡翠色: #3de1ad;
  --SCC-CNTC-缥: #7fecad;
  --SCC-CNTC-艾绿: #a4e2c6;
  --SCC-CNTC-石青: #7bcfa6;
  --SCC-CNTC-铜绿: #549688;
  --SCC-CNTC-竹青: #789262;
  --SCC-CNTC-墨灰: #758a99;
  --SCC-CNTC-墨蓝: #50616d;
  --SCC-CNTC-鸦青: #424c50;
  --SCC-CNTC-朱砂: #ff461f;
  --SCC-CNTC-火红: #ff2d51;
  --SCC-CNTC-朱膘: #f36838;
  --SCC-CNTC-洋红: #ff4777;
  --SCC-CNTC-品红: #f00056;
  --SCC-CNTC-粉红: #ffb3a7;
  --SCC-CNTC-桃红: #f47983;
  --SCC-CNTC-酡颜: #f9906f;
  --SCC-CNTC-绛紫: #8c4356;
  --SCC-CNTC-绯红: #c83c23;
  --SCC-CNTC-胭脂: #9d2933;
  --SCC-CNTC-朱红: #ff4c00;
  --SCC-CNTC-茜色: #cb3a56;
  --SCC-CNTC-绾: #a98175;
  --SCC-CNTC-嫣红: #ef7a82;
  --SCC-CNTC-殷红: #be002f;
  --SCC-CNTC-赤: #c3272b;
  --SCC-CNTC-靛蓝: #065279;
  --SCC-CNTC-宝蓝: #4b5cc4;
  --SCC-CNTC-蓝灰: #a1afc9;
  --SCC-CNTC-黛: #4a4266;
  --SCC-CNTC-黛紫: #574266;
  --SCC-CNTC-黛绿: #426666;
  --SCC-CNTC-黛蓝: #425066;
  --SCC-CNTC-紫酱: #815463;
  --SCC-CNTC-酱紫: #815476;
  --SCC-CNTC-紫酱: #4c221b;
  --SCC-CNTC-雪青: #b0a4e3;
  --SCC-CNTC-藕色: #edd1d8;
  --SCC-CNTC-藕粉: #e4c6d0;
  --SCC-CNTC-灰梅: #e8d3c7;
  --SCC-CNTC-灰桜: #e8d3d1;
  --SCC-CNTC-枯草: #e4dc8a;
  --SCC-CNTC-白茶: #ddbb99;
  --SCC-CNTC-枯茶: #8d6449;
  --SCC-CNTC-桑染: #b79b5b;
  --SCC-CNTC-赤褐: #683f36;
  --SCC-CNTC-金茶: #f39800;
  --SCC-CNTC-玉蜀黍: #eec362;
  --SCC-CNTC-黄金: #e6b422;
  --SCC-CNTC-豆茶: #8b968d;
  --SCC-CNTC-麹塵: #6e7955;
  --SCC-CNTC-山鳩: #767c6b;
  --SCC-CNTC-海松茶: #5a544b;
  --SCC-CNTC-藍海松茶: #56564b;
  --SCC-CNTC-千歳茶: #494a41;
  --SCC-CNTC-岩井茶: #6b6f59;
  --SCC-CNTC-黒緑: #333631;
  --SCC-CNTC-柳煤竹: #5b6356;
  --SCC-CNTC-千緑: #316745;
  --SCC-CNTC-常緑: #028760;
  --SCC-CNTC-革色: #475950;
  --SCC-CNTC-萌葱: #006e54;
  --SCC-CNTC-百入茶: #1f3134;
  --SCC-CNTC-藍鉄: #393f4c;
  --SCC-CNTC-青褐: #393e4f;
  --SCC-CNTC-月白: #eaf4fc;
  --SCC-CNTC-淡藤: #bbc8e6;
  --SCC-CNTC-紫苑: #867ba9;
  --SCC-CNTC-紫黒: #2e2930;
  --SCC-CNTC-利休白茶: #b3ada0;
  --SCC-CNTC-煎茶色: #8c6450;
  --SCC-CNTC-黒橡: #544a47;
  --SCC-CNTC-檳榔子染: #433d3c;
  --SCC-CNTC-黒紅: #302833;
  --SCC-CNTC-濡羽: #000b00;
  --SCC-CNTC-暗黒: #16160e;
}

:root {
  /* SGTC */
  --SCC-SGTC-1A: #2f3033;
  --SCC-SGTC-1b: #e7edf1;
  --SCC-SGTC-2A: #363636;
  --SCC-SGTC-2B: #fcfcfc;
  --SCC-SGTC-3A: #202228;
  --SCC-SGTC-3B: #fbd283;
  --SCC-SGTC-3C: #f8f8f8;
  --SCC-SGTC-4A: #e8e8e8;
  --SCC-SGTC-4B: #d2d2d2;
  --SCC-SGTC-4C: #b6b6b6;
  --SCC-SGTC-4D: #9c9c9c;
  --SCC-SGTC-4E: #535353;
  --SCC-SGTC-5A: #e2e5ef;
  --SCC-SGTC-5B: #abbbd0;
  --SCC-SGTC-5C: #e8eef5;
  --SCC-SGTC-6A: #888888;
  --SCC-SGTC-6B: #f1f0e8;
  --SCC-SGTC-6C: #6a5f55;
  --SCC-SGTC-7A: #f6f6f6;
  --SCC-SGTC-7B: #777980;
  --SCC-SGTC-8A: #e9edef;
  --SCC-SGTC-8B: #434e5d;
  --SCC-SGTC-9A: #f7f7f7;
  --SCC-SGTC-9B: #f1f1f1;
  --SCC-SGTC-9C: #efefef;
  --SCC-SGTC-9D: #ececec;
  --SCC-SGTC-9E: #ebebeb;
  --SCC-SGTC-10A: #f2f7fb;
  --SCC-SGTC-10B: #2a3844;
  --SCC-SGTC-11A: #d0d1da;
  --SCC-SGTC-11B: #abb0bc;
  --SCC-SGTC-11C: #fefefe;
  --SCC-SGTC-12A: #cc959c;
  --SCC-SGTC-12B: #fffdf7;
  --SCC-SGTC-13A: #fffffb;
  --SCC-SGTC-13B: #70a4d2;
  --SCC-SGTC-14A: #a7c79c;
  --SCC-SGTC-14B: #799d6c;
  --SCC-SGTC-15A: #ffeff4;
  --SCC-SGTC-15B: #fff8ff;
  --SCC-SGTC-15C: #ffe9ef;
  --SCC-SGTC-15D: #eff1ff;
  --SCC-SGTC-15E: #fff2f0;
  --SCC-SGTC-16A: #87a0be;
  --SCC-SGTC-16B: #ffac5c;
  --SCC-SGTC-17A: #65787f;
  --SCC-SGTC-17B: #898f93;
  --SCC-SGTC-18A: #d4eaef;
  --SCC-SGTC-18B: #fbf7e2;
  --SCC-SGTC-18C: #fcf8e3;
  --SCC-SGTC-18D: #fdf8ec;
  --SCC-SGTC-18E: #cfe9f2;
  --SCC-SGTC-18F: #d3edee;
  --SCC-SGTC-18G: #dceeef;
  --SCC-SGTC-18H: #e3ecf2;
  --SCC-SGTC-19A: #fffcf4;
  --SCC-SGTC-19B: #ffe3df;
  --SCC-SGTC-19C: #fff2ef;
  --SCC-SGTC-19D: #ec838f;
  --SCC-SGTC-20A: #6d87a2;
  --SCC-SGTC-20B: #d2eaf4;
  --SCC-SGTC-20C: #bbe1d7;
  --SCC-SGTC-21A: #dfdad7;
  --SCC-SGTC-21B: #f4f2ee;
  --SCC-SGTC-21C: #a49990;
  --SCC-SGTC-22A: #f6f6f4;
  --SCC-SGTC-22B: #8987a8;
  --SCC-SGTC-22C: #ecebf0;
  --SCC-SGTC-22D: #eae6ee;
  --SCC-SGTC-22E: #dfdcec;
  --SCC-SGTC-22F: #d0cee6;
  --SCC-SGTC-22G: #bab6dc;
  --SCC-SGTC-23A: #dfeaf4;
  --SCC-SGTC-23B: #b7cdde;
  --SCC-SGTC-23C: #97b2c6;
  --SCC-SGTC-23D: #acc2d5;
  --SCC-SGTC-23E: #97b2c6;
  --SCC-SGTC-23F: #839db6;
  --SCC-SGTC-23G: #ebf4fa;
  --SCC-SGTC-24A: #d9d1e1;
  --SCC-SGTC-24B: #c2b2d3;
  --SCC-SGTC-24C: #e4e0ea;
  --SCC-SGTC-25A: #fff5f4;
  --SCC-SGTC-25B: #ffeae7;
  --SCC-SGTC-25C: #fff7e8;
  --SCC-SGTC-25D: #866d73;
  --SCC-SGTC-26A: #d8dfe7;
  --SCC-SGTC-26B: #7c899c;
  --SCC-SGTC-27A: #edf2f6;
  --SCC-SGTC-27B: #e6eff4;
  --SCC-SGTC-27C: #dce3e9;
  --SCC-SGTC-28A: #f1f0f5;
  --SCC-SGTC-28B: #f6f6f6;
  --SCC-SGTC-28C: #d9d6e9;
  --SCC-SGTC-29A: #efd5c4;
  --SCC-SGTC-29B: #e9bfa5;
  --SCC-SGTC-29C: #bb8b6a;
  --SCC-SGTC-30A: #dee9dd;
  --SCC-SGTC-30B: #ece0ce;
  --SCC-SGTC-31A: #6a9a6f;
  --SCC-SGTC-31B: #648266;
  --SCC-SGTC-31C: #509570;
  --SCC-SGTC-31D: #b1c48c;
  --SCC-SGTC-31E: #6c3725;
  --SCC-SGTC-32A: #252525;
  --SCC-SGTC-32B: #bd905a;
  --SCC-SGTC-32C: #15223d;
  --SCC-SGTC-32D: #7d0028;
  --SCC-SGTC-32E: #ab0000;
  --SCC-SGTC-32F: #650004;
  --SCC-SGTC-32G: #004b37;
  --SCC-SGTC-32H: #003539;
}

