---
import "../styles/banner_top.css";
import { Icon } from '@astrojs/starlight/components';
---

<div class="flash flash-green flash-full border-top-0 text-center text-bold py-2">
    <div class="banner-content ">
        <Icon name="github" size="1.2rem" />
        <span class="split-w"/>
        此文章尚未完善，欢迎参与贡献
    </div>
  </div>
