---
import "../styles/banner_top.css";
import { Icon } from '@astrojs/starlight/components';
---

<div class="flash flash-warn flash-full border-top-0 text-center text-bold py-2">
    <div class="banner-content ">
        <Icon name="seti:lock" size="1.2rem" />
        <span class="split-w"/>
        此文章已锁定，只能由所有者与管理员编辑
    </div>
  </div>
