<link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v3/dist/waline.css"
  />

<div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    init({
      el: '#waline',
      serverURL: 'https://sillot-waline-server.vercel.app',
      dark: 'auto',
      wordLimit: [5, 2000]
    });
  </script>
