/* 图片缩放按钮调整 */
.protyle-wysiwyg [data-node-id] .img .protyle-action__drag {
  height: 20%;
  top: 40%;
  right: 12px;
  width: 5px;
  opacity: 0.86;
  z-index: 2;
}

.protyle-wysiwyg [data-node-id] .img .protyle-action__drag:hover {
  background-color: var(--b3-theme-on-background);
  box-shadow: 0 0 1px 1px var(--b3-theme-background);
}

/* 图片菜单按钮调整 */
.protyle-icon--only {
  border-radius: 15px;
}

.protyle-icon {
  background-color: var(--b3-theme-surface);
  color: var(--b3-theme-on-surface);
}

/* 为图片添加边框、阴影和圆角 */
.b3-typography .img,
.protyle-wysiwyg .img,
.viewer-canvas img {
  margin: 8px 4px 0px 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px -2px rgb(0 0 0 / 70%), -1px -1px 3px -1px rgb(0 0 0 / 40%);
  padding: 5px 0;
  background: var(--b3-theme-background);
}

.viewer-canvas img,
.b3-typography .img {
  padding: 5px !important;
}

/* 调整图片和图片标题位置，使其左右居中 */
.protyle-wysiwyg img,
.protyle-action__title,
.protyle-wysiwyg .img .protyle-action__title {
  position: relative;
  left: -3px;
}


.protyle-wysiwyg .img>span:nth-child(2):hover::after {
  opacity: 1;
}

.protyle-wysiwyg .img .protyle-action__title {
  background: var(--b3-theme-background);
  pointer-events: none;
  z-index: 1;
}

.b3-typography .img .protyle-action__title {
  left: 0px !important;
}