.fn__flex-column:has(#searchList) {
  height: 88vh !important;
}

.spread-search__preview {
  margin-top: 13px;
  border-top: none;
}

#searchList {
  min-height: calc(66% - 69px) !important;
  background-color: var(--b3-theme-surface);
}

#searchList>div[data-type="search-item"] {
  min-height: 3.1rem;
}

#searchList div[data-type="search-item"]>.b3-list-item__text {
  font-size: 87%;
  text-align: left;
  line-height: 1.68rem;
}

#searchList>div[data-type="search-item"]>.b3-list-item__text,
#searchList>div[data-type="search-item"]>.b3-list-item__graphic {
  margin: -13px 0 1px 0;
}

#searchList [data-type=search-item].b3-list-item .b3-list-item__meta {
  top: 2rem;
  left: 24px;
  line-height: 1rem;
  max-width: 100%;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 16px);
}

#searchList .b3-list-item:before {
  max-height: 3.1rem;
}

.layout__center .layout-tab-container>.fn__flex-1>.fn__flex-column:has(#searchPreview.fullscreen) .search__header,
.b3-dialog--open[data-key] .b3-dialog__container[style*="80vw"] [style^="height"]:not(.b3-tab-container)>.fn__flex-column:has(#searchPreview.fullscreen) .search__header {
  z-index: 1 !important;
}

#searchResult:not(:empty)::before {
  content: "TB2 🎯" !important;
  padding: 0 6px;
}

#searchResult:not(:empty) {
  margin-left: -7px;
}