name: Release Docker Image

on:
  workflow_dispatch:
  # 运行预发行镜像而无需合并到主分支，例如 v0.13.3rc1
    inputs:
      image_tag:
        description: '镜像标签（ 无论 tag 是什么，都会附加 latest , -sillot 会自动补全因此无需输入 ) '
        required: true
        default: 'v0.'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          ref: dev
          submodules: recursive

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PWD }}

      - name: Build the Docker image
        run: |
          docker buildx build --push --platform linux/amd64 -t soltus/sillot:latest -t soltus/sillot:${{ github.event.inputs.image_tag }}-sillot .

      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PWD }}
          repository: soltus/sillot
          readme-filepath: ./README_Sillot_Docker.md
